<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjfio.readygo">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/shenqilogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activitys.BrowseImagesActivity" />
        <activity android:name=".ui.view.picview.ImageScanActivity2" />
        <activity android:name=".ui.activitys.CameraActivity" />
        <activity android:name=".ui.activitys.ImageListActivity" />
        <activity android:name=".ui.activitys.SplashActivity" />
        <activity android:name=".ui.activitys.LoginActivity" />


        <meta-data
            android:name="com.bjfio.readygo.component.CustomGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="583f943282b6353ef30005d5" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Bibi" />

        <service
            android:name=".ui.service.TestService"
            android:label="@string/app_name"
            android:process=":main" />

    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

</manifest>